node_modules
.DS_Store
dist
dist-ssr
egg
mock
*.local
.idea
package-lock.json
笔记.md
.editorconfig
.env.*
.eslintignore
.eslintrc.js
.gitignore
.huskyrc
.npmignore
.npmrc
.prettierignore
.prettierrc.js
color.ts
jsconfig.json
tsconfig.json
vite.config.ts

