node_modules
.DS_Store
docs
dist
mock
public
src
typings
www
dist-ssr
egg
bag-utils
www
*.local
.idea
.editorconfig
.env.*
.eslintignore
.eslintrc.js
.gitignore
.huskyrc
.npmignore
.npmrc
.prettierignore
.prettierrc.js
color.ts
jsconfig.json
tsconfig.json
wx.jpg
windi.config.ts
public
typings
build
docs
gulpfile.js
*.html
vite.config.ts
favicon.ico
package-lock.json
