:root {
    --yh-color-primary: #409eff;
    --yh-color-white: #ffffff;
    --yh-text-color-white: #ffffff;
    --yh-text-color-primary: #409eff;
    --yh-text-color-black: #333333;
    --yh-font-size-extra-large: 20px;
    --yh-font-size-large: 18px;
    --yh-font-size-medium: 16px;
    --yh-font-size-base: 14px;
    --yh-font-size-small: 13px;
    --yh-font-size-extra-small: 12px;
    --yh-font-weight-primary: 500;
}
